body {
    font-family: Arial, sans-serif;
    background: #f5f5f5 url('img/foto01.jpg') center center fixed;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    opacity: 0.85;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

#options-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#timer {
    margin-top: 15px;
    font-weight: bold;
}

#participation-message {
    color: red;
    font-weight: bold;
}

#final-score {
    font-size: 1.2em;
}

#final-message {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}